.title-slide h1{
position: initial;
font-size: 30px;
padding-bottom: inherit;
text-align: center;
}

.title-slide h3{
position: unset;
font-size: revert;
margin-top: -29px;
}

.remark-slide-content h3 {
    font-size: 22px;
    text-align: center;
}

#content {
    display: flex;
    flex-wrap: wrap;
}

#content img {
    width: 25%;
    min-width: 100px;
}

table.dataTable {
    font-size: 16px;
}

.pull-left {
    float: right;
    width: 40%;
}

.pull-right {
    float: right;
    width: 60%;
}
